body{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 1.5em;
}

header li {
    list-style-type: none;
}

li a{
    text-decoration: non;
}
































/* body{
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjJiYXRjaDUta3VsLTAzLmpwZw.jpg");
    background-size: cover;
} */

